includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - config
        - database
        - src
    level: 8
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false

