includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - config
        - database
        - src
    level: 8
    ignoreErrors:
        - '#Access to an undefined property JoeDixon\\Translation\\(Language|Translation)::\$#'
        - "#Property '([^']+)' does not exist in JoeDixon\\\\Translation\\\\(Language|Translation) model.#"
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false

